<form [formGroup]="bookForm" (ngSubmit)="submitForm()">

  <div class="form-group">
    <label>ISBN</label>
    <input class="form-control" type="text" formControlName="isbn">

    <div class="feedback-error" *ngIf="isInvalid('isbn')">Die ISBN ist ungültig.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'minlength')">Die ISBN ist zu kurz.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'maxlength')">Die ISBN ist zu lang.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'required')">Die ISBN ist erforderlich.</div>

    {{ bookForm.get('isbn')?.errors | json }}

    <!-- <br-foerm-errors controlName="isbn" [messages]="{ minlength: 'ZU KURZ!' }"></br-foerm-errors>>-->
  </div>

  <div class="form-group">
    <label>Titel</label>
    <input class="form-control" type="text" formControlName="title">
  </div>

  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label>Bewertung</label>
    <input class="form-control" type="number" formControlName="rating">
  </div>

  <div class="form-group">
    <label>Preis</label>
    <input class="form-control" type="number" formControlName="price">
  </div>

  <!-- [disabled]="bookForm.invalid" -->
  <button class="btn btn-green" type="submit">Abschicken</button>

</form>

<pre>{{ bookForm.value | json }}</pre>
